*{
	margin: 0;
	padding: 0;
}
.cont-img{
    div{
        div{
            div{
                div{
                    img{
                        margin-left: 30px;
                    }
                }
            }
        }
    }
}

.nombre-email{
	height: 200px;
	div{
		width: 250px;
		height: 30px;
		position: relative;
		top: 50px;
		border-radius: 10px;
		margin-top: 20px;
		margin-left: 70px;
		background-color: white;
	}
	h5{
		position: relative;
		top: 60px;
	}
}
#imagen{
	width: 100%;
	height: 200px;
	margin-bottom: 100px;
	margin-left: 800px;
	padding-top: 50px;
}

.imagen-cargada{
	margin-left: 500px;
}