body{
	background-color: #EAEAEA;
}
.llamada{
	background-color: #fff;
}
.contrestorant {
    background-color: #FF8529;
    display: inline-block;
    margin-bottom: 20px;
    height: 240px;
    position: relative;
}
.contrestorant:hover {
    cursor: pointer;
}
img.perfilplato {
    width: 100%;
    height: 106px;
}
.inforest{
	color: #fff;
}
ul.inforest {
    line-height: 16px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #F52F41;
}
.contrestorant:hover .overlay {
  opacity: 1;
}
.textcomparar {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.oculto{
  display: none;
}
/* favoritos */
.inforestorant {
    background-color: #fff;
}
.infocabecera {
    display: inline-block;
    background-color:  #FF8529;
    width: 100%;
    padding: 10px;
    color: #fff;
}
.infotitulo {
    display: inline-block;
    margin: 0 auto;
}
i.fa.fa-heart {
  font-size: 27px;
  color: white;
}
.titinfo{
  color:  #FF8529;
  font-weight: 700;
  text-align: center;
}
.infomenor{
  text-align: center;
}
.listfavorito{
  text-align: center;
}
.favcabecera{
  display: inline-block;
  margin-right: 20px;
}

/* comparacion */

th, td{
	background-color: #fff;
	text-align: center;
}
.comrest{
	background-color: #FF8529;
	color: #fff;
	text-align: center;
}
.comvacio{
	background-color: transparent;
}
.tablenivel{
	text-align: left;
}
i.fa.fa-circle {
    font-size: 7px;
    margin-right: 13px;
    color: #FF8529;
}